@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #003366; /* Dark Blue */
    --secondary-color: #FF6B6B; /* Coral Red */
    --accent-color-teal: #4DB6AC; /* Teal */
    --accent-color-gold: #FFD700; /* Gold */
    --background-color: #F8F8F8; /* Light Grey */
    --text-color: #333333; /* Dark Grey */
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* General Page Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color); /* Light grey background */
    color: var(--text-color); /* Dark grey text */
    line-height: 1.6;
}

h2, h3 {
    color: var(--primary-color); /* Dark blue color */
}

a {
    color: var(--secondary-color); /* Coral red */
    text-decoration: none;
}

/* Header */
header {
    background-color: var(--primary-color); 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: .6s;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

/* navbar */
header nav {
    background-color: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



nav.sticky {
    /* background: #202020; */
    /* height: 80px; */
    /* background-color: transparent; */
    transition: .6s;
    z-index: 2;
} 


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

nav li {
    margin: 0 1rem; 
}

nav ul li:not(:last-child) {
    margin-right: 1rem; 
}

nav a {
    color: #fff; 
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: var(--secondary-color);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

nav a:hover::after {
    transform: scaleX(1);
}

nav button {
    position: relative;
    /* left: -3px; */
    font-size:1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    /* margin-left: 40px;
    margin-right: 20px; */
    padding: 5px;
    /* top:20px; */
}

nav .btnlogin-popup {
    width: 130px;
    height: 50px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

nav .btnlogin-popup:hover {
    background-color: var(--accent-color-teal);
    border-color: var(--accent-color-teal);
    color: white;
}

/* h1
header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 125px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: .6s;
}


header p {
    font-size: 20px;
    margin: 0.5 rem 0;
    color: #fff;
} */

/* .hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* explore button
header a.explore {
    background-color: #fff;
    color: #333;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 60px;
    margin-top: 1rem;
    transition: 0.6s;
}

header a.explore:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    transition: .6s;
    transform: scale(1.1);
} */

.wrapper {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 400px; 
    transform: scale(0.8); 
    height: 440px; 
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.2s ease;
    z-index: 9999; 
    padding: 20px;
    box-sizing: border-box; 
    opacity: 0; 
}

.wrapper.active-popup {
    display: flex; 
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1); 
}


.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width:100%;
    padding: 40px;
}

.wrapper .form-box.login {
   transition: transform .18s ease;
   transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
 }

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--primary-color);
    color: white;
    font-size: 2em;
    /* color:#ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.input-box .password-toggle ion-icon {
    color: var(--accent-color-teal);
}

.form-box h2 {
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height:50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-60%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    outline: none;
    font-size: 1em;
    /* color: #162938; */
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box input:focus {
    border-color: var(--accent-color-teal);
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between; 
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    /* background: #162938; */
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Main Content Sections */
/* Main Content Styling */
main {
    background-color: var(--background-color); /* Teal background */
    padding: 2rem 0; /* Padding around the main content */
    color: white; /* Text color for contrast */
}

/* Hero Section Styling */
#hero-contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    padding: 4rem 2rem; 
    background-color: var(--accent-color-teal); 
    color: white; 
}

#hero-image {
    width: 45%; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.hero-content {
    max-width: 50%;
    text-align: left; 
}

.hero-content h1 {
    font-size: 2.5rem; 
    margin-bottom: 1rem;
    color: var(--primary-color); 
}

.hero-content p {
    font-size: 1.4rem; 
    margin-bottom: 1.5rem;
}

/* Additional Hero Content Styling */
.hero-additional-content {
    background: rgba(255, 255, 255, 0.9); 
    padding: 1rem; 
    border-radius: 15px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    margin-top: 3rem; 
    text-align: left; 
    color: var(--text-color); 
}

.hero-additional-content h2 {
    color: var(--primary-color); 
    font-size: 1.5rem; 
    margin-bottom: 1rem; 
}

.hero-additional-content p {
    font-size: 1rem; 
    line-height: 1.7; 
    margin-bottom: 1rem; 
}

.btn-hero {
    background-image: linear-gradient(45deg, var(--secondary-color), var(--accent-color-gold));
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    background-size: 200% auto;
}

.btn-hero:hover, .btn-hero:focus {
    background-position: right center; 
    color: var(--primary-color);
    border-color: var(--accent-color-gold);
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .btn-hero {
        padding: 0.8rem 1.6rem;
        font-size: 1.2rem;
        background-size: 300% auto;
    }
}


/* Responsive Design for Additional Content */
@media (max-width: 768px) {
    .hero-additional-content {
        text-align: center; 
        padding: 1.5rem; 
    }

    .btn-hero {
        font-size: 1rem; 
        padding: 0.6rem 1.2rem; 
    }
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    #hero-contact {
        flex-direction: column;
        text-align: center;
    }

    #hero-image {
        width: 40%; 
        margin-bottom: 1rem;
    }

    .hero-content {
        max-width: 80%;
    }

    .hero-additional-content {
        margin-top: 2rem;
    }
}

/* Contact Us Section Styling - Enhanced Visual Appeal */
#contact-info {
    padding: 3rem;
    text-align: center;
}

#contact-info h2 {
    font-size: 3rem; 
    margin-bottom: 1rem;
    font-weight: bold; 
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

#contact-info p {
    margin-bottom: 1rem;
    font-size: 1.2rem; 
    line-height: 1.8; 
    max-width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    color: var(--text-color)
}

/* Contact Details Styling - Modern Layout */
.contact-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem; 
}

.contact-details div {
    background: var(--background-color); 
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    color: var(--text-color); 
}

.contact-details h3 {
    font-size: 1.5rem; 
    color: var(--secondary-color); 
    /* margin-bottom: 1rem; */
}

.contact-details p,
.contact-details a {
    font-size: 1.1rem; 
}

.contact-details a {
    color: var(--accent-color-teal); /* Teal for links */
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: var(--accent-color-gold); 
}

.contact-form {
    background: var(--background-color); 
    padding: 2.5rem;
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    max-width: 550px;
    margin: 2rem auto; 
    color: var(--text-color); 
}

.contact-form h3 {
    color: var(--primary-color); 
    font-size: 2rem; 
    margin-bottom: 1.5rem;
    font-weight: bold; 
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    background: white;
    border: 2px solid var(--accent-color-teal); 
    border-radius: 8px; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    color: var(--text-color); 
    font-size: 1rem;
}

.contact-form textarea {
    background: white;
    border: 2px solid var(--accent-color-teal);
    border-radius: 8px;
    padding: 1rem;
    height: 180px; 
    color: var(--text-color);
    font-size: 1rem;
    resize: none; 
}

.contact-form button {
    background-color: var(--secondary-color); /* Coral red for the submit button */
    color: white; 
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 8px; 
    font-size: 1.2rem; 
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.contact-form button:hover {
    background-color: var(--accent-color-gold); /* Gold on hover for interactivity */
    transform: scale(1.1); 
}

@media (max-width: 768px) {
    .contact-form {
        padding: 2rem;
        max-width: 85%; /* Wider form on smaller screens for usability */
    }
}



/* Responsive Design Adjustments */
@media (max-width: 768px) {
    #hero-contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #hero-image {
        width: 50%; /* Larger width for smaller screens */
        margin: 0 auto; /* Center image */
    }

    .hero-content {
        max-width: 80%;
        margin: 1rem auto; /* Center text content */
        text-align: center;
    }
}



/* Customer Care Services Section Styling */
#customer-care {
    background-color: var(--background-color); 
    color: var(--text-color); 
    padding: 0 1rem 3rem; 
    text-align: center; 
}

#customer-care h2 {
    color: var(--primary-color); 
    margin-bottom: 2rem; 
    font-size: 2.5rem; 
}

/* Styling Individual Service Items */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
    gap: 1.5rem; 
    margin-top: 2rem; 
}

.service-item {
    background: white;
    padding: 1.5rem; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.service-item h3 {
    color: var(--primary-color); 
    margin-bottom: 1rem; 
    font-size: 1.8rem; 
}

.service-item p {
    line-height: 1.6; 
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .services-container {
        grid-template-columns: 1fr; 
    }
}

/* FAQs Section Styling */
#faqs {
    background-color: var(--background-color); /* Light grey background */
    color: var(--text-color); /* Dark grey text */
    padding: 3rem 1rem;
    text-align: center;
}

#faqs h2 {
    color: var(--primary-color); /* Dark blue for the heading */
    font-size: 2.5rem; 
    margin-bottom: 2rem; 
    font-weight: bold;
}

/* FAQ Accordion Styling */
.accordion {
    background-color: var(--accent-color-teal); /* Coral red for the accordion button */
    color: white; /* White text color */
    cursor: pointer; 
    padding: 0.5rem; 
    width: 100%; 
    text-align: left; 
    border: none; 
    outline: none; 
    transition: background-color 0.3s ease; 
    font-size: 1.2rem; 
    margin-top: 0.5rem; 
}

.accordion:hover {
    background-color: var(--accent-color-gold); /* Change color on hover */
}

.panel {
    padding: 0 1rem; 
    background: white; 
    display: none; 
    overflow: hidden; 
    border-radius: 0 0 10rem 10rem ; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 1rem; 
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .accordion {
        font-size: 1rem; 
    }
}


/* About Us Section Styling */
#about-us {
    background-color: var(--background-color); /* Light grey background */
    color: var(--text-color); /* Dark grey text */
    padding: 3rem;
    text-align: center;
}

#about-us h2 {
    color: var(--primary-color); /* Dark blue color for the heading */
    margin-bottom: 2rem;
    font-size: 2.5rem; 
}

#about-us p {
    margin-bottom: 2rem;
    line-height: 1.6;
}

/* About Content Styling */
.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    gap: 2rem;
    text-align: left;
}

.about-item {
    background: white; /* White background for each item */
    padding: 2rem;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.about-item h3 {
    color: var(--accent-color-teal); 
    margin-bottom: 1rem;
    font-size: 1.6rem; /* Larger font size for subheadings */
}

.about-item p {
    line-height: 1.6;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
    }
}


/* Footer Styling */
footer {
    background-color: var(--primary-color); /* Dark Blue */
    color: white;
    padding: 2rem 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns layout */
    gap: 1rem;
    font-size: 0.9em;
  }
  
  footer h3 {
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 0.5em;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer ul li a:hover {
    color: var(--secondary-color); /* Coral Red */
  }

  .social-links a{
    color: #fff;
  }

  .contact-us {
    padding: 1rem;
  }
  
  /* .footer-contact,
  .footer-newsletter,
  .footer-links {
    padding: 1rem;
  }
  
  .footer-newsletter input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    color: white;
  }
  
  .footer-newsletter button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .footer-newsletter button:hover {
    background-color: var(--accent-color-teal);
  } */

  /* Styling for Email Subscription Section */
.newsletter {
    padding: 1rem;
    text-align: center;
}
  
.newsletter h3 {
    margin-bottom: 1em;
    font-size: 1.2em;
}
  
.newsletter form input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    color: white; 
}
  
.newsletter form button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.newsletter form button:hover {
    background-color: var(--accent-color-teal);
}
  
.compLinks {
    padding: 1rem;
    text-align: right; 
}
  
  .compLinks ul {
    list-style-type: none;
    padding: 0;
}
  
.compLinks ul li {
    margin-bottom: 0.5em;
}
  
.compLinks ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.compLinks ul li a:hover {
    color: var(--secondary-color); 
}
  
.copyright {
    grid-column: 1 / -1; /* Span all columns */
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white; 
    padding: 0 0 1.5rem;

    font-size: 0.8rem;
}

  /* Responsive Design for Footer */
@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-contact,
    .footer-newsletter,
    .footer-links {
      padding: 0.5rem;
    }
  }


@media (max-width: 1200px) {
    .main-container {
        padding: 0 10px; 
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 0.5rem 0;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        display: block;
        text-align: left;
    }

    nav ul {
        flex-direction: column;
    }

    #categories {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr; /* Single column */
    }
}